* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    width: 100vw;
    height: 70px;
    background: #005757;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    max-width: 100%;
    max-height: 100%;
    margin-left: 0px;
    border-bottom: 2px solid black;
}

.ajuste {
 margin-left: 30px;
 margin-right: 150px;
}

.ajuste1 {
    margin-left: 310px;
    margin-right: -20px;
}

.ajuste2 {
    margin-left: 350px;
    margin-right: -10px;
}

.ajuste3 {
    margin-left: 60px;
}

.titulo a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    padding-left: 120px;
}

.Amigos {
    font-size: 20px;
    border: none;
    width: 50px;
    height: 30px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.TAmigos {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.Comunidade {
    font-size: 20px;
    border: none;
    width: 50px;
    height: 30px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.TComunidade {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.botoes input {
    font-size: 18px;
    border: none;
    width: 90px;
    height: 30px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    margin: 0;
    padding: 0;
    right: 120px;

}

.botoes input:hover {
 background-color: rgba(0, 0, 0, 0.5);
}

[type="submit"]:active {
    box-shadow: 0 0 20px red;
}

body {
    overflow: hidden;
    background-color: #002b2b;
}
.telaFundo{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color:#002b2b;
}

.tituloLog{
    margin-left: 138px;
    height: 100px;
    font-size: 25px;
    text-align: center;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: grey;
}
.Area{
    background-color: #00262b;
    width:500px;
    height: 450px;
    position: absolute;
	left: 50%;
	top: 50%;
    margin-top: -265px;
    margin-left: -225px;
    border-style: solid;

}
.Texto{
    font-size: 24px;
}
.TextoFofo{
    margin-top: 50px;
    font-size: 20px;
    margin-left: 15%;
    color: #fff;
}
.checkcaixa{
    position: relative;
    top: -17px;
    width: 275px;
    left:-30px;
    margin-left: 5px;
 }
 .Tcheckbox{
    position: relative;
    top: -18px;
    left: -160px;
    width: 275px;
    color:#fff;
 }
.BotaoCadastrar input{
    margin-left: 175px;
    margin-top: 50px;
    background-color: #4A79B9;
    width: 150px;
    height: 32px;
    color: #fff;
    font-size: 22px;
    cursor:pointer;
}
.campoT{
    position: relative;
    top: -28px;
    width: 325px;
    margin-left: 105px;
    height: 28px;
    background-color: lightgray;
    border-style: solid;
    border-color: lightgray;
    font-size: 14px;
}
.campoT:focus{
    background-color: #fff;
    border-style: solid;
    border-color: black;
    font-size: 17px;
}
.Footer{
   position: relative;
   margin-left: 95px;
   margin-top: 30px; 
   font-size:18px;
   color: grey;
   text-decoration: overline;
}
.Footer a{
   color: #5A66FF;
   text-decoration: overline;
   text-decoration-color: grey;
}

.abcdario{
    position: absolute;
        width: 100vw;
        height: 70px;
        background-color: #00262b;
        top: 800px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
}
.abcdario a{
    margin-right: 120px;
    padding-left: 120px;
    color: grey;
    text-decoration: none;
}
.abcdario a:hover{
    text-decoration: underline overline 2px dotted;
    text-decoration-color: black;
}